*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: red;

 /* dont put these:   border-bottom:#1f2937 solid 3px;
    height: 100px;
    width: 1335px; */


}

.logo {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }

.linksright, .logoleft {
    display: flex;
    align-items: center;
    gap: 16px;

}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    font-weight:bold;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    gap: 22px;
}

.title {
    display: flex;
    justify-content: left;
    align-items: left;
    font-weight: bold;
    font-size: 28px;
    color: red;
}

.text {
    color: black;
    font-weight: lighter;
}

.latestnewssubtitle {
    margin-top: 5px;
}

.latestcontainer {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 12px;
    background-image: url(marveltrans.jpeg)
}

.latestnews {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    padding: 25px;

}

.latestnewscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 425px;

}

.latestnewsimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 425px;
}

.latestmcu {
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 25px;
}

.latestmcuimg {
    display: flex;
    height: 450px;
    width: auto;
}

.latestmcusubtitle {
    margin-top: 5px;
}

.latestmcucontainer {
    max-width: 500px;
}

.charactersmaincontainer {
    display:flex;
    background-color: red;
    color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.characterslink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.characterimg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: auto;
} 

.boxofficeranking {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(marveltrans.jpeg)
    
}

.boxofficerankingmaincontainer {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}



.boxofficerankingcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.boxofficerankingtitle {
    display: flex;
    color: black;
    font-size: 19px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}

.boxofficerankingsubtitle {
    margin-left: 30px;
}

.boxofficerankingimg {
    display: flex;
    height: 420px;
    width: auto;
}


.footer {
    background-color: red;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.footertext {
    color: white
}
